@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color0: #61fcff;
    --color1: #000;
    --color2: #fff;
    --color3: #c44ae2;
}

html,
header,
body,
main,
footer {
    background-color: var(--color1);
    color: var(--color2);
}

/* MENU */
.navbar {
    background-color: var(--color1);
    position: fixed;
    top: 0;
}

#navbar {
    transition: background-color 0.3s ease-in-out;
}

.navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    /* Adapte a opacidade conforme necessário */
}


/* INTERFACE */
.interface>section {
    padding: 20px;
}

/* DETALHES DE SERVIÇOS */
.solucoes .row:nth-child(1) {
    margin-top: 100px;
}

.solucoes>.row {
    margin-bottom: 20%;
}

.solucoes>.row p {
    font-size: 1.3rem;
}

.solucoes>.row img {
    border-radius: 20px;
    width: 90%;
}

section .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

section .button {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: var(--color0);
    color: var(--color1);
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
}

section .button:hover {
    background: linear-gradient(-65deg, #c44ae2, #762a89, #1b0521);
    color: var(--color2);
}

::-webkit-scrollbar {
    width: 0px;
    /* Largura da barra de rolagem */
}

.back_top>i {
    position: fixed;
    bottom: 5px;
    right: 1%;
    font-size: 3rem;
    color: var(--color0);
}

.back_top i:hover {
    color: var(--color3);
}

@media screen and (width <=1028px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    .row img {
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .row a {
        margin-top: 20px;
    }

    .solucoes .row:nth-child(2),
    .row:nth-child(4) {
        flex-direction: column-reverse;
    }
}