@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color0: #61fcff;
    --color1: #000;
    --color2: #fff;
    --color3: #c44ae2;
    --color4: #db8bef;
}

::selection {
    background-color: var(--color2);
    color: var(--color1);
}

header {
    height: 100vh;
    margin-bottom: 10vh;    
}

body {
    height: 100vh;
}

html,
body,
header,
main,
footer {
    background-color: var(--color1);
    color: var(--color2);
}

/* MENU */
.navbar {
    background-color: var(--color1);
    position: fixed;
    top: 0;
}

#navbar {
    transition: background-color 0.3s ease-in-out;
}

.interface>section {
    padding: 20px;
    background-color: var(--color1);
    margin-bottom: 40px;
}

/* DETALHES DE SERVIÇOS */
.solucoes .row:nth-child(1) {
    margin-top: 100px;
}

.solucoes>.row {
    margin-bottom: 15%;
}

.solucoes>.row:nth-child(4) {
    margin-bottom: 0px;
}

.solucoes>.row p {
    font-size: 1.3rem;
}

.solucoes>.row img {
    border-radius: 20px;
    width: 90%;
}

section .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

section .button {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: var(--color0);
    color: var(--color1);
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

section .button:hover {
    background: linear-gradient(-65deg, #c44ae2, #762a89, #1b0521);
    color: var(--color2);
}

#sobre {
    background-color: var(--color2);
    padding: 40px;
    color: var(--color1);
    padding: 40px;
    z-index: -1;
}

#sobre h2 {
    font-size: 1.3rem;
    background-color: var(--color0);
    color: var(--color1);
    padding: 8px;
    font-weight: bold;
    width: 100%;
}

#sobre .row .col {
    margin: 20px 0px;
}

#portfolio > .row {
    width: 100%;
}

#portfolio > .row .card {
    margin-top: 30px;
    padding: 15px;
    background-color: var(--color1);
    color: var(--color2);
}

#portfolio > .row .card:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 1s;
}
#portfolio > .row .card:hover img {
    transition: .5s;
    border: 2px solid var(--color0);
}

#portfolio > .row .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}

#portfolio .btn-primary {
    width: 30%;
    padding: 15px;
    background-color: var(--color0);
    color: var(--color1);
    font-weight: bold;
}

#portfolio .btn-primary:hover {
    background-color: var(--color3);
    color: var(--color2);
}

#solucoes .row{
    margin-top: 5vh;
}
#solucoes .row .col{
    padding: 10px;
    background-color: transparent;
    border: 0;
    color: var(--color2);
}
#solucoes .row .col .card-body{
    width: 90%;
    background-color: var(--color2);
    color: var(--color1);
}

#solucoes .row .col img{
    border-radius: 0;
}


#contato {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contato a {
    margin-top: 20px;
    text-align: center;
    background-color: var(--color3);
    padding: 20px;
    width: 40%;
}

::-webkit-scrollbar {
    width: 0px;
}

.back_top>i {
    position: fixed;
    bottom: 5px;
    right: 1%;
    font-size: 3rem;
    color: var(--color0);
}

.back_top i:hover {
    color: var(--color3);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .social-media i{
    color: var(--color3);
    font-size: 2rem;
}
footer .social-media a:hover > i{
    color: var(--color4);
}

@media screen and (width <=1028px) {
    header {
        height: 50vh;
    }
    .row {
        display: flex;
        flex-direction: column;
    }

    .row img {
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .row a {
        margin-top: 20px;
    }

    .solucoes .row:nth-child(2),
    .row:nth-child(4) {
        flex-direction: column-reverse;
    }

    #portfolio .btn-primary {
        width: 100%;
    }
}


@media screen and (width <=720px) {
    header {
        height: 30vh;
    }
    #home img {
        margin-top: 15%;
    }
}
